#categories-list {
  width: 150px;
  float: left;
  padding: 0 15px;
  margin-right: 35px;
  margin-bottom: 30px;
}

#category-header {
  border-bottom: 1px solid grey;
}

#category:hover {
  font-weight:bold;
}
