#search-results {
  width: 50%;
  float: left;
  margin-left: 5px;
}

.search-hit {
  border-bottom: 1px solid grey;
  font-size: 20px;
  padding-bottom: 10px;
}

#sort-selection {
  float: right;
  font-size: 15px;
}

#app-name {
  font-weight: bold;
}

#app-category {
  color: darkslategray;
}

#app-rank {
  color: darkslategray;
}