#search-results {
  min-width: 50%;
  float: left;
}

.search-hit {
  border-bottom: 1px solid lightgray;
  font-size: 20px;
  padding-bottom: 8px;
}

#sort-selection {
  float: right;
  font-size: 15px;
  margin: 5px;
}

#app-name {
  font-weight: bold;
}