#search-results {
  width: 50%;
  float: left;
}

.search-hit {
  border-bottom: 1px solid grey;
  font-size: 20px;
}

#sort-selection {
  float: right;
  font-size: 15px;
}

#app-name {
  font-weight: bold;
}